body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url('img_car.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #orderSummary {
    margin-top: 20px;
    text-align: center;
  }